body{
    background-color: black;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5rem;
}
 
   .accordian {
           background-color:rgb(11, 11, 11);
           padding: 4px 16px;
           margin-bottom: 14px;
           cursor: pointer;
           border-radius: 3px;
           box-shadow: 1px 1px 5px rgb(79, 52, 218);
           cursor: pointer;
           
   }
   
   .question {
    display: flex;
    align-items: center;
    justify-content: space-between;

   }

   .icon{
    margin-right: 15px;
    transition: transform 0.4s;

   }

   .icon.active{
    transform: rotate(180deg); /*rotate value*/
   }

   .answer{
    color: rgb(240, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
   }

   