<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Accordion</title>
   <link rel="stylesheet" href="style.css"> <!-- Corrected 'herf' to 'href' -->
   <script src="https://kit.fontawesome.com/12684f336a.js" crossorigin="anonymous"></script>
</head>
<body>

    <h2>FAQ's</h2>

    <div class="accordion">
        <div class="question">
            <h4>What is TTURL?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>It is a shortening web service, which provides short aliases for redirection of long URLs.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>What are the benefits of TTURL?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>It performs much better in search engines, looks more trustworthy, and makes sharing easier.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>Is TTURL safe to use?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Yes, TTURL is safe to use. It employs algorithms to detect and block links that lead to known spam or malicious sites.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>Can TTURL expire after some time?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>No, most links created with TTURL do not expire unless manually deleted or removed by the service.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>Is TTURL free to use?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Yes, TTURL is a free service for creating shortened URLs.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>How can I customize my TTURL links?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Once you've created a shortened link, you can customize its alias by choosing your own custom keyword for easy identification.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4>How long does it take for my TTURL link to be active?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Once you create a TTURL link, it becomes active immediately. You can share it and track clicks right away.</p>
        </div>
    </div>

    <div class="accordion">
        <div class="question">
            <h4> Are there any limitations on the number of URLs I can shorten?</h4>
            <i class="icon active fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>No, there is no limitations , you can shorten as many link as you want.</p>
        </div>
    </div>
    

    <script src="script.js"></script>
</body>
</html>
