@tailwind base;
@tailwind components;
@tailwind utilities;


.shake {
    outline: red solid 1px;
    animation: shake-animation 0.3s ease-in-out;
}

@keyframes shake-animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

body * {
    @apply transition-colors duration-100;
}


